<% include head_layout.ejs %>
</head>
<body>
<form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="adsf" class="form-control" name="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="exampleInputFile" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" name="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="namesdfa"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
 	
<% include footer_layout.ejs %>