<% include head_layout.ejs %>
</head>
<style type="text/css">
  *{
    padding:0;
    margin:0;
  }
  #sroll_wrapper{
    width: 204px;
    height: 165px;
    margin: 0 auto;
    position:relative;
    border: 5px solid red;
    box-sizing: content-box;
    margin-top: 200px;
    overflow: hidden;
  }
  #sroll_wrapper li{
    background: rgba(0,0,0,0.2);
    margin-top: 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;

  }
  body{
    padding:0;
  }
</style>
<body>
  <div class="" id="sroll_wrapper"></div>
<button type="button" class="btn btn-default">开始滚屏</button>



<script src="/dist/js/scroll.js"></script>
<% include footer_layout.ejs %>
